<h1> <%= @patient.name %> </h1>

<h2> <%= @patient.age %> </h1>

<% @appointments.each do |appointment| %> 
    <%= appointment.appointment_time %><br> 
    <%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %><br>
    <br>
<% end %>