<h1>Appointment Details</h1>
Date and Time: <%= @appointment.appointment_time %><br>
Doctor: <%= link_to @doctor.name, doctor_path(@doctor) %><br>
Patient: <%= link_to @patient.name, patient_path(@patient) %><br>